/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2017, 3:02:38 PM
    Author     : yvex
*/
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  margin: 50px;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
 
li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}

div {
    height: 200px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -20px;
}
#toolbar {
    position: fixed;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    padding: 5px 10px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
    background: #ccc; /* some styling */
    border-bottom: 1px solid #333; /* some styling */
}

body {
    margin-top: 40px;
}
.descri{
    height: 300px;
    width: 600px;


}
.btn {
     
  background: #777a7d;
  background-image: -webkit-linear-gradient(top, #777a7d, #2d2e2e);
  background-image: -moz-linear-gradient(top, #777a7d, #2d2e2e);
  background-image: -ms-linear-gradient(top, #777a7d, #2d2e2e);
  background-image: -o-linear-gradient(top, #777a7d, #2d2e2e);
  background-image: linear-gradient(to bottom, #777a7d, #2d2e2e);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  text-shadow: 0px 3px 3px #0f0f0f;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b0b8bd;
  background-image: -webkit-linear-gradient(top, #b0b8bd, #8c8f91);
  background-image: -moz-linear-gradient(top, #b0b8bd, #8c8f91);
  background-image: -ms-linear-gradient(top, #b0b8bd, #8c8f91);
  background-image: -o-linear-gradient(top, #b0b8bd, #8c8f91);
  background-image: linear-gradient(to bottom, #b0b8bd, #8c8f91);
  text-decoration: none;
}